<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Mots</h1>
    <a href="<%= Rho::Application.startURI %>" class="ui-btn-left" data-icon="home" data-direction="reverse" data-ajax='false'>
      Home
    </a>
  </div>

  <div data-role="content">
    <h1> Plus rien pour cette session </h1>
  </div>

</div>
