<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Thèmes</h1>
    <a href="<%= Rho::Application.startURI %>" class="ui-btn-left" data-icon="home" data-direction="reverse" data-ajax='false'>
      Home
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <% @themes.each do |theme| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => theme.object %>">
              <%= theme.nom %>
            </a>
          </li>
      
      <% end %>
    </ul>

  </div>

  <div data-role="footer" data-position="inline">
    <%= pagination %>
  </div>
