<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Verbes</h1>
    <a href="<%= Rho::Application.startURI %>" class="ui-btn-left" data-icon="home" data-direction="reverse" data-ajax='false'>
      Home
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <% @verbes.each do |verbe| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => verbe.object %>">
              <%= verbe.infinitif %>
            </a>
          </li>
      
      <% end %>
    </ul>
  </div>
  
  <div data-role="footer" data-position="inline">
    <%= pagination %>
  </div>
    
</div>
